# pif preferences
#
# first written: 4-Jul-2013
#
#################################################

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;

TRACEID "00111100" ;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

SYSCONFIG JTAG_PORT=DISABLE  SDM_PORT=PROGRAMN  I2C_PORT=DISABLE  SLAVE_SPI_PORT=ENABLE MCCLK_FREQ=10.23 ;

#################################################

USERCODE ASCII  "PIF0"      ;

LOCATE COMP "GSRn"       SITE "136" ; # use the TDI pad as a global reset


## LEDS
LOCATE COMP "LEDR"       SITE "112" ;
LOCATE COMP "LEDG"       SITE "113" ;


## J1
#NC
#5V
LOCATE COMP "J1_3"       SITE "125" ; # SDA, J1.3, J2.3, Pi1.GPIO0, Pi2.GPIO2
#5V
LOCATE COMP "J1_5"       SITE "126" ; # SCL, J1.5, J2.5, Pi1.GPIO1, Pi2.GPIO3
#GND
LOCATE COMP "J1_7"       SITE "128" ; # J1.7, GPCLK0, Pi.GPIO4
LOCATE COMP "J1_8"       SITE "32"  ; # J1.8, Pi.TXD, Pi.GPIO14
#GND
LOCATE COMP "J1_10"      SITE "27"  ; # J1.10, Pi.RXD, Pi.GPIO15
LOCATE COMP "J1_11"      SITE "25"  ; # J1.11, Pi.GPIO17
LOCATE COMP "J1_12"      SITE "23"  ; # J1.12, Pi.GPIO18, Pi.PCM_CLK
LOCATE COMP "J1_13"      SITE "20"  ; # J1.13, Pi1.GPIO21, Pi2.GPIO27
#GND
LOCATE COMP "J1_15"      SITE "19"  ; # J1.15, Pi.GPIO22
LOCATE COMP "J1_16"      SITE "13"  ; # J1.16, Pi.GPIO23
#NC
LOCATE COMP "J1_18"      SITE "11"  ; # J1.18, Pi.GPIO24
LOCATE COMP "J1_19"      SITE "71"  ; # J1.19, J2.19, Pi.GPIO10, Pi.MOSI
#GND
LOCATE COMP "J1_21"      SITE "45"  ; # J1.21, J2.21, Pi.GPIO9, Pi.MISO
LOCATE COMP "J1_22"      SITE "9"   ; # J1.22, Pi.GPIO25
LOCATE COMP "J1_23"      SITE "44"  ; # J1.23, J2.23, Pi.GPIO11, Pi.SCLK
LOCATE COMP "J1_24"      SITE "70"  ; # J1.24, Pi.GPIO8, Pi.CE0
#GND
LOCATE COMP "J1_26"      SITE "3"   ; # J1.26, Pi.GPIO7, Pi.CE1


## J2
#3.3V
#5V
#LOCATE COMP "J2_3"       SITE "125" ; # SDA, J1.3, J2.3, Pi1.GPIO0, Pi2.GPIO2
#5V
#LOCATE COMP "J2_5"       SITE "126" ; # SCL, J1.5, J2.5, Pi1.GPIO1, Pi2.GPIO3
#GND
LOCATE COMP "J2_7"       SITE "34"  ; # J2.7
LOCATE COMP "J2_8"       SITE "33"  ; # J2.8
#GND
LOCATE COMP "J2_10"      SITE "28"  ; # J2.10
LOCATE COMP "J2_11"      SITE "26"  ; # J2.11
LOCATE COMP "J2_12"      SITE "24"  ; # J2.12
LOCATE COMP "J2_13"      SITE "22"  ; # J2.13
#GND
LOCATE COMP "J2_15"      SITE "21"  ; # J2.15
LOCATE COMP "J2_16"      SITE "14"  ; # J2.16
#3.3V
LOCATE COMP "J2_18"      SITE "12"  ; # J2.18
#LOCATE COMP "J2_19"      SITE "71"  ; # J1.19, J2.19, Pi.GPIO10, Pi.MOSI
#GND
#LOCATE COMP "J2_21"      SITE "45"  ; # J1.21, J2.21, Pi.GPIO9, Pi.MISO
LOCATE COMP "J2_22"      SITE "10"  ; # J2.22
#LOCATE COMP "J2_23"      SITE "44"  ; # J1.23, J2.23, Pi.GPIO11, Pi.SCLK
LOCATE COMP "J2_24"      SITE "6"   ; # J2.24
#GND
LOCATE COMP "J2_26"      SITE "4"   ; # J2.26


## J3
LOCATE COMP "J3_1"      SITE "38"   ; # J3.1
LOCATE COMP "J3_2"      SITE "42"   ; # J3.2
LOCATE COMP "J3_3"      SITE "47"   ; # J3.3
LOCATE COMP "J3_4"      SITE "49"   ; # J3.4
#GND
LOCATE COMP "J3_6"      SITE "59"   ; # J3.6
LOCATE COMP "J3_7"      SITE "61"   ; # J3.7
LOCATE COMP "J3_8"      SITE "65"   ; # J3.8


## J4
LOCATE COMP "J4_1"      SITE "74"   ; # J4.1
LOCATE COMP "J4_2"      SITE "76"   ; # J4.2
LOCATE COMP "J4_3"      SITE "82"   ; # J4.3
LOCATE COMP "J4_4"      SITE "84"   ; # J4.4
#GND
#3.3V
LOCATE COMP "J4_7"      SITE "92"   ; # J4.7
LOCATE COMP "J4_8"      SITE "94"   ; # J4.8
LOCATE COMP "J4_9"      SITE "98"   ; # J4.9
LOCATE COMP "J4_10"      SITE "100"   ; # J4.10
#GND
LOCATE COMP "J4_12"      SITE "105"   ; # J4.12
LOCATE COMP "J4_13"      SITE "107"   ; # J4.13


## I2C portexpander <-> XO2 JTAG
#   LOCATE COMP "FDONE"         SITE "109" ;
#   LOCATE COMP "FINITn"        SITE "110" ;
#   LOCATE COMP "FPROGn"        SITE "119" ;
#   LOCATE COMP "FJTAGn"        SITE "120" ;
#   LOCATE COMP "FTMS"          SITE "130" ;
#   LOCATE COMP "FTCK"          SITE "131" ;
#   LOCATE COMP "FTDI"          SITE "136" ;
#   LOCATE COMP "FTDO"          SITE "137" ;



IOBUF PORT "GSRn" IO_TYPE=LVCMOS33 PULLMODE=UP   ;
IOBUF PORT "LEDR" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "LEDG" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SCL"  IO_TYPE=LVCMOS33 PULLMODE=UP   ;
IOBUF PORT "SDA"  IO_TYPE=LVCMOS33 PULLMODE=UP   ;

##  FREQUENCY NET "KLK/clkIn" 25.0 MHz HOLD_MARGIN 0.5 nS ;

## EOF ##########################################
